# REWARD PROGRAM ASSIGNMENT
The Rewards Program team is preparing for a major evaluation of how effectively the rewards are driving user engagement and satisfaction. They need insights to help optimise reward offerings, identify key user segments, and understand the overall impact of the reward types on user behaviour. Accurate data analysis is crucial for making data-driven decisions on reward offerings and tailoring them to different user segments.

## Task 1: Data Cleaning
### Context:
As part of our reward efforts, it’s crucial to maintain accurate and clean data. Recently, we discovered challenges in our data, which impacted our ability to allocate points to graduates and learners.

### Assignment:
I are provided with a sample dataset in the “Mentorship_Sessions” sheet that includes data related to mentorship sessions. This dataset has several duplicates and inconsistencies. My task is to:

- Identify and address any missing, incorrect, or inconsistent data within the columns. Ensure that all data is cleaned and standardised for accurate analysis and reporting.
- Identify and remove any duplicate records.
- Explain my approach to data cleaning, including the tools you used.
- Provide a summary of the cleaned data, highlighting the number of duplicates removed and any other anomalies found.

Deliverables:
- A clean version of the dataset in Excel.
- A brief report (300-500 words) detailing my  process, tools used, and findings.

________________________________________

## Task 2: Legacy Point Allocation

### Context:
Every week, I will be required to analyse, calculate, and manually award learners and graduates with points based on a set of point criteria.

### Assignment:
Using my cleaned sample dataset for “Mentorship_Sessions”, allocate points according to the criteria listed below. 

Mentors earn points as follows:
- 250 points for signing up to become a mentor (one-time allocation).
- 1000 points for conducting mentorship with 2 different mentees.
- The mentor receives 500 points per mentorship relationship, with the points being allocated as follows:
     - 250 points per session.
     - Must hold two sessions with the same mentee to earn the maximum of 500  points.
     - Each session must be a minimum of 30 minutes in length.
     - At least one session must include the completion of job information.
     - The session must be with the same mentee.

### Deliverables:
- Compile the main rules that needed to be applied for point allocation.
- Create the points allocation calculation to award the mentor points. Provide an explanation of the calculations that you applied to award the mentor points.
- A brief report (300-500 words) detailing the point allocation results and providing reasons for the results.
- Use the provided data and award the points to mentors.
- Provide a step-by-step outline of the process you would follow to complete the allocation, ensuring the points are awarded correctly on the system. This should include your approach to testing and verifying the accuracy of the allocations.

________________________________________

## Task 3: Deriving Reward Dashboard and Insights

### Context:
The Rewards Program team is focused on enhancing user engagement and maximising the effectiveness of their reward offerings. To achieve this, they require a detailed analysis of user behaviour and reward redemption patterns based on the most recent data.

### Assignment:
Using the cleaned data from the previous tasks analyse and create a reward dashboard and provide insights that could be used to optimise the Rewards Program. Your analysis should help identify key user segments (e.g., new users, top performers, low engagement) and suggest how these insights could inform future reward offerings and engagement strategies.

### Deliverables:
A visual data insights report that includes at least three actionable recommendations based on your analysis (500-700 words).

## TASK 1: DATA CLEANING

In [1]:
#importing necessary packages
import pandas as pd
import matplotlib as plt

In [6]:
#Loading the dataset
file_path = r'C:\Users\Georginah\Data Analytics Projects\Reward-program\Dataset\Reward_Program_Assignment.xlsx'  # Use a raw string for the file path
data = pd.read_excel(file_path, sheet_name='Mentorship_Sessions')  # Specify the sheet name separately

# Display the first few rows of the dataset
data.head(5)

,Unnamed: 0,Mentor_ID,Mentor_Name,Mentee_Name,Session_Number,Session_Duration_Min,Job_Info_Completed,Session_Date,Points_Awarded
0,2001.0,1003.0,Sarah Clark,Bob Brown,1.0,40.0,Yes,2023-01-01,NaN
1,2002.0,1003.0,Emily Davis,Carol White,2.0,30.0,Yes,2023-01-08,NaN
2,2003.0,1005.0,James Wilson,Jane Smith,2.0,40.0,Yes,2023-01-15,NaN
3,4.0,1005.0,David Thompson,NaN,2.0,50.0,Yes,2023-01-22,NaN
4,2001.0,1004.0,Emily Davis,Bob Brown,1.0,30.0,No,2023-01-29,NaN